/*Stylesheet by Kerry C. McAlister, 2018 */
@font-face {
    font-family: 'Aller';
    src: url("/leaflet-lab/fonts");
}

#map {
    height: 100vh;
    width: 100%;
    display: inline-block;
    align-items: center;
}
body {
    background-color: #bf5700;
}

#attribute-legend{
    text-align: center;
    font-family: 'Aller';
    font-size: 15px;
}
#temporal-legend{
    text-align: center;
    font-family: "Aller";
    font-size: 25px;
}

.leaflet-control-layers {
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    fill-opacity: 0.8;
    border-radius: 0;
    outline: solid gray 1px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	font: bold 18px 'Aller';
	text-indent: 1px;
    border-radius: 0px;
	}
.leaflet-control-zoom-out {
	font-size: 20px;
    border-radius: 0px;
	}

h1{
    font-family: "Aller";
    font-weight: 700;
    text-align: center;
    color: white;
}

.sequence-control-container{
    bottom: 0;
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px; 
    text-align: center;
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}


.range-slider{
    height: auto;
    width: 200px;
    
}

.legend-control-container{
    width: auto;
    height: max-content ;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: auto;
    /*text-align: center;*/
    border: solid gray 1px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

#reverse{
    float: left;
    
}

#forward{
    float: right;
}


.leaflet-popup-content p {
    font-family: 'Aller';
	margin: 0.2em 0;
	}

.leaflet-control-attribution{
    font-family: 'Aller';
    font-size: 7px;
}